.image {
    max-width: 100%;
    border-width: 1px;
    border-color: grey;
    border-style: solid;
}

.content {
    color: rgb(0,0,100);
    background-color: white;
    padding: 10px;
    border-radius: 15px;
    border-width: 1px;
    margin: 10px;
}

.title {
    color: rgb(0,0,100);
    margin: 0px;
}

h4 {
    padding: 0px 0px 5px 0px;
    margin: 0px 0px 5px 0px;
    border-width: 0px 0px 1px 0px;
    border-color: rgb(200,200,200);
    border-style: ridge;
}




